# docker logs and cache
/docker/logs/
/docker/cache/
/docker/postgres/data/
/docker/minio/data/

# git actions cache
/.github/.cache

# DBT Cache and artifacts
target/
dbt_packages/
logs/
banking_dbt/target/
banking_dbt/dbt_packages/
banking_dbt/logs/

# Local Environment Variables
.env
.env.*
!.gitignore

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/
.pytest_cache/
.DS_Store
